<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Report Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1> Student Report </h1>
        <form method="POST" action="/predict">
            <label for="attendance">Attendance:</label>
            <input type="text" id="attendance" name="attendance" required>

            <label for="prev_score">Previous Score:</label>
            <input type="text" id="prev_score" name="prev_score" required>

            <button type="submit">Submit</button>
        </form>
        {% if message %}
        <h3 class="message">{{ message }}</h3>
        {% endif %}

        <form method="POST" action="/train">
            <button type="submit">Retrain_The_Model</button>
        </form>
        {% if train_status %}
        <h3 class="message">{{ train_status }}</h3>
        {% endif %}


 
        </div>
    </div>
</body>
</html>